## A Logistic Regression Problem
### By MiMoTrix
#### Date: September 2018

In [79]:
import tensorflow as tf
import pandas as pd

##### Reads inputs from Titanic csv file using pandas

In [68]:
def inputs(file):
    data = pd.read_csv(file)
    data["Age"].fillna(0, inplace=True)
    data.head()
    data.replace({"Sex": {"male": 1, "female": 0}}, inplace=True)
    train_data = data.sample(frac=0.8, random_state=99)
    test_data = data.loc[~data.index.isin(train_data.index), :]
    X_train = train_data.loc[:, ['Pclass', 'Sex', 'Age']]
    X_train = pd.get_dummies(X_train, columns=['Pclass'])
    X_test = test_data.loc[:, ['Pclass', 'Sex', 'Age']]
    X_test = pd.get_dummies(X_test, columns=['Pclass'])
    Y_train = train_data.loc[:, ['Survived']]
    Y_test = test_data.loc[:, ['Survived']]
    return X_train, Y_train, X_test, Y_test
X_train, Y_train, X_test, Y_test = inputs("data/titanic.csv")
inputs("data/titanic.csv")

(     Sex    Age  Pclass_1  Pclass_2  Pclass_3
 247    0  24.00         0         1         0
 823    0  27.00         0         0         1
 566    1  19.00         0         0         1
 666    1  25.00         0         1         0
 199    0  24.00         0         1         0
 480    1   9.00         0         0         1
 86     1  16.00         0         0         1
 136    0  19.00         1         0         0
 253    1  30.00         0         0         1
 809    0  33.00         1         0         0
 208    0  16.00         0         0         1
 551    1  27.00         0         1         0
 78     1   0.83         0         1         0
 654    0  18.00         0         0         1
 48     1   0.00         0         0         1
 3      0  35.00         1         0         0
 453    1  49.00         1         0         0
 84     0  17.00         0         1         0
 514    1  24.00         0         0         1
 633    1   0.00         1         0         0
 326    1  61.00         0         0         1
 501    0  21.00         0         0         1
 50     1   7.00         0         0         1
 134    1  25.00         0         1         0
 813    0   6.00         0         0         1
 100    0  28.00         0         0         1
 267    1  25.00         0         0         1
 511    1   0.00         0         0         1
 608    0  22.00         0         1         0
 866    0  27.00         0         1         0
 ..   ...    ...       ...       ...       ...
 311    0  18.00         1         0         0
 697    0   0.00         0         0         1
 304    1   0.00         0         0         1
 413    1   0.00         0         1         0
 133    0  29.00         0         1         0
 31     0   0.00         1         0         0
 458    0  50.00         0         1         0
 161    0  40.00         0         1         0
 339    1  45.00         1         0         0
 286    1  30.00         0         0         1
 248    1  37.00         1         0         0
 821    1  27.00         0         0         1
 579    1  32.00         0         0         1
 727    0   0.00         0         0         1
 818    1  43.00         0         0         1
 1      0  38.00         1         0         0
 207    1  26.00         0         0         1
 629    1   0.00         0         0         1
 814    1  30.50         0         0         1
 786    0  18.00         0         0         1
 264    0   0.00         0         0         1
 274    0   0.00         0         0         1
 70     1  32.00         0         1         0
 640    1  20.00         0         0         1
 444    1   0.00         0         0         1
 736    0  48.00         0         0         1
 98     0  34.00         0         1         0
 754    0  48.00         0         1         0
 21     1  34.00         0         1         0
 705    1  39.00         0         1         0

 [713 rows x 5 columns],      Survived
 247         1
 823         1
 566         0
 666         0
 199         0
 480         0
 86          0
 136         1
 253         0
 809         1
 208         1
 551         0
 78          1
 654         0
 48          0
 3           1
 453         1
 84          1
 514         0
 633         0
 326         0
 501         0
 50          0
 134         0
 813         0
 100         0
 267         1
 511         0
 608         1
 866         1
 ..        ...
 311         1
 697         1
 304         0
 413         0
 133         1
 31          1
 458         1
 161         1
 339         0
 286         1
 248         1
 821         1
 579         1
 727         1
 818         0
 1           1
 207         1
 629         0
 814         0
 786         1
 264         0
 274         1
 70          0
 640         0
 444         1
 736         0
 98          1
 754         1
 21          1
 705         0

 [713 rows x 1 columns],      Sex    Age  Pclass_1  Pclass_2  Pclass_3
 0      1  22.00         0         0         1
 11     0  58.00         1         0         0
 13     1  39.00         0         0         1
 20     1  35.00         0         1         0
 29     1   0.00         0         0         1
 34     1  28.00         1         0         0
 35     1  42.00         1         0         0
 38     0  18.00         0         0         1
 39     0  14.00         0         0         1
 41     0  27.00         0         1         0
 45     1   0.00         0         0         1
 47     0   0.00         0         0         1
 52     0  49.00         1         0         0
 55     1   0.00         1         0         0
 59     1  11.00         0         0         1
 60     1  22.00         0         0         1
 62     1  45.00         1         0         0
 67     1  19.00         0         0         1
 68     0  17.00         0         0         1
 73     1  26.00         0         0         1
 77     1   0.00         0         0         1
 83     1  28.00         1         0         0
 88     0  23.00         1         0         0
 94     1  59.00         0         0         1
 95     1   0.00         0         0         1
 104    1  37.00         0         0         1
 108    1  38.00         0         0         1
 114    0  17.00         0         0         1
 122    1  32.50         0         1         0
 123    0  32.50         0         1         0
 ..   ...    ...       ...       ...       ...
 740    1   0.00         1         0         0
 741    1  36.00         1         0         0
 744    1  31.00         0         0         1
 748    1  19.00         1         0         0
 750    0   4.00         0         1         0
 761    1  41.00         0         0         1
 762    1  20.00         0         0         1
 764    1  16.00         0         0         1
 771    1  48.00         0         0         1
 773    1   0.00         0         0         1
 779    0  43.00         1         0         0
 790    1   0.00         0         0         1
 794    1  25.00         0         0         1
 795    1  39.00         0         1         0
 803    1   0.42         0         0         1
 807    0  18.00         0         0         1
 820    0  52.00         1         0         0
 830    0  15.00         0         0         1
 831    1   0.83         0         1         0
 835    0  39.00         1         0         0
 838    1  32.00         0         0         1
 849    0   0.00         1         0         0
 855    0  18.00         0         0         1
 859    1   0.00         0         0         1
 862    0  48.00         1         0         0
 865    0  42.00         0         1         0
 868    1   0.00         0         0         1
 874    0  28.00         0         1         0
 880    0  25.00         0         1         0
 885    0  39.00         0         0         1

 [178 rows x 5 columns],      Survived
 0           0
 11          1
 13          0
 20          0
 29          0
 34          0
 35          0
 38          0
 39          1
 41          0
 45          0
 47          1
 52          1
 55          1
 59          0
 60          0
 62          0
 67          0
 68          1
 73          0
 77          0
 83          0
 88          1
 94          0
 95          0
 104         0
 108         0
 114         0
 122         0
 123         1
 ..        ...
 740         1
 741         0
 744         1
 748         0
 750         1
 761         0
 762         1
 764         0
 771         0
 773         0
 779         1
 790         0
 794         0
 795         0
 803         1
 807         0
 820         1
 830         1
 831         1
 835         1
 838         1
 849         1
 855         1
 859         0
 862         1
 865         1
 868         0
 874         1
 880         1
 885         0

 [178 rows x 1 columns])

##### Initializing weights and bias with zero

In [69]:
W = tf.Variable(tf.zeros([5, 1]), name="weights")
b = tf.Variable(0., name="bias")
print(W, b)

<tf.Variable 'weights_4:0' shape=(5, 1) dtype=float32_ref> <tf.Variable 'bias_4:0' shape=() dtype=float32_ref>

##### Combine Input and Weights and Bias

In [70]:
def matmulMaterials(X):
    return tf.matmul(tf.cast(X, tf.float32), W) + b

##### Predicting Y

In [71]:
def inference(X):
    return tf.sigmoid(matmulMaterials(X))

##### Loss function using Cross Entropy

In [49]:
def loss(X, Y):
    return tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits=matmulMaterials(X), labels=Y))

##### Train function with Gradient Decent Optimizer and 0.001 learning rate

In [50]:
def train(total_loss):
    learning_rate = 0.01
    return tf.train.GradientDescentOptimizer(learning_rate).minimize(total_loss)

##### Evaluating chance of survival of people ( > 0.5 will be chose as survived )

In [82]:
def evaluate(session, X, Y):
    predicted = tf.cast(inference(X) > 0.5, tf.float32)
    print("Accuracy: ", session.run(tf.reduce_mean(tf.cast(tf.equal(predicted, tf.cast(Y, tf.float32)), tf.float32))))

##### MiniBatch Implemention

In [83]:
def miniBatch(size):
    with tf.Session() as session:
        tf.global_variables_initializer().run()
        training_steps = 100
        for epoch in range(training_steps):
            for i in range(0, X_train.shape[0], size):
                session.run(train_op, feed_dict={x: X_train[i:i+size], y: Y_train[i:i+size]})
        evaluate(session, X_test, Y_test)
        session.close()
    return " "

MAIN

In [84]:
x = tf.placeholder(dtype=tf.float32, shape=(None, X_train.shape[1]))
y = tf.placeholder(dtype=tf.float32, shape=(None, Y_train.shape[1]))
loss_func = loss(x, y)
train_op = train(loss_func)
import time
now = time.time()
print("Batch Size = 1", miniBatch(1))
print("Execution Time: ", time.time()-now)
now = time.time()
print("Batch Size = 5", miniBatch(5))
print("Execution Time: ", time.time()-now)
now = time.time()
print("Batch Size = 10", miniBatch(10))
print("Execution Time: ", time.time()-now)
now = time.time()
print("Batch Size = 100", miniBatch(100))
print("Execution Time: ", time.time()-now)

Accuracy:  0.78089887
Batch Size = 1
Execution Time:  83.13866019248962

Accuracy:  0.48876405
Batch Size = 5
Execution Time:  15.476040840148926

Accuracy:  0.5224719
Batch Size = 10
Execution Time:  7.946897029876709

Accuracy:  0.64606744
Batch Size = 100
Execution Time:  1.5575919151306152